:root {
	--border-radius: 0.25rem;

	--primary: #0056b3;
	--primary-bg: #0080d4;
	--dark-primary: color-mix(in srgb, var(--primary-bg), white 25%);

	--danger: #dc3545;

	--light-bg-hover: #f0f0f0;

	--dark-bg: var(--dark-gray3);
	--dark-bg-hover: rgb(from var(--gray1) r g b / 30%);
}

/* global */

html {
	font-size: 15px;
}

body {
	margin: 0;
}

.bp5-divider {
	margin: 0;
}

.bp5-button.bp5-intent-primary:not(.filter, a) {
	border-radius: var(--border-radius);
	background-color: var(--primary-bg) !important;
	box-shadow: none !important;
	&:active {
		background-color: color-mix(in srgb, var(--primary-bg), black 15%) !important;
	}
}

.bp5-input,
.bp5-input:focus {
	box-shadow: none !important;
}

.bp5-tooltip.bp5-intent-primary .bp5-popover-content {
	background-color: var(--primary-bg);
}

/* container */

html,
body,
#root,
#root > .bp5-card {
	height: 100%;
	min-width: fit-content;
}

/* top bar */

.topbar {
	display: flex;
	align-items: center;
	min-height: 2.3rem;
	margin: 0 0.3rem;
	.bp5-button {
		min-height: 0;
		min-width: auto;
		border-radius: var(--border-radius);
		&:not([disabled]):is(:hover, .bp5-active) {
			background-color: var(--light-bg-hover) !important;
		}
		&.bp5-intent-primary.bp5-active {
			color: white !important;
			background-color: var(--primary-bg) !important;
		}
	}
	/* item list search bar */
	.bp5-input[type="search"] {
		&::-webkit-search-cancel-button {
			display: none;
		}
		&:is(:hover, :focus) {
			background-color: var(--light-bg-hover);
		}
	}
	/* item show */
	a.bp5-button {
		color: var(--primary) !important;
		&:not([disabled]):is(:hover, :active) {
			background-color: rgb(from var(--primary-bg) r g b / 10%) !important;
		}
	}
}
.bp5-dark .topbar {
	.bp5-button {
		&:not([disabled]):not(.bp5-intent-primary.bp5-active):is(:hover, .bp5-active) {
			background-color: var(--dark-bg-hover) !important;
		}
		&.bp5-intent-primary:not(.bp5-active) {
			--brighter: color-mix(in srgb, var(--primary-bg), white 25%);
			color: var(--brighter) !important;
			border-color: var(--brighter) !important;
		}
	}
	/* item list search bar */
	.bp5-input[type="search"] {
		background-color: var(--dark-bg);
		&:is(:hover, :focus) {
			background-color: var(--dark-bg-hover);
		}
	}
	/* item show */
	a.bp5-button {
		color: var(--dark-primary) !important;
		/* verbose selectors for higher priority */
		&:not([disabled]):not(.bp5-intent-primary.bp5-active):is(:hover, :active) {
			background-color: rgb(from var(--primary-bg) r g b / 15%) !important;
		}
	}
}

/* feed list */

.bp5-tree {
	flex-grow: 1;
	overflow: auto;
	.bp5-tree-root {
		padding: 0.5rem;
		padding-top: 0.25rem;
		.bp5-tree-node {
			margin-top: 0.25rem;
			.bp5-collapse {
				transition: none;
			}
			.bp5-tree-node-content {
				padding-left: 0;
				height: 2.1rem;
				border-radius: var(--border-radius);
				user-select: none;
				&:hover {
					cursor: pointer;
				}
				.bp5-tree-node-caret {
					transition: none;
					svg {
						padding-left: 2px;
					}
				}
				.bp5-tree-node-label span {
					display: inherit;
				}
			}
			&.bp5-tree-node-selected > .bp5-tree-node-content {
				&,
				&:hover {
					background-color: var(--primary-bg);
				}
			}
		}
	}
}
.bp5-tree-node:not(.bp5-tree-node-selected) {
	.bp5-tree-node-caret {
		color: #374049;
	}
	& > .bp5-tree-node-content:is(:hover, :active) {
		background-color: var(--light-bg-hover);
	}
}
.bp5-dark .bp5-tree-node:not(.bp5-tree-node-selected) {
	.bp5-tree-node-caret {
		color: #d1d1d1;
	}
	& > .bp5-tree-node-content:is(:hover, :active) {
		background-color: var(--dark-bg-hover);
	}
}

/* context menu */

.bp5-popover.bp5-minimal .bp5-popover-arrow {
	display: inherit;
}

*:has(.bp5-popover-content),
.bp5-popover .bp5-popover-content,
.bp5-popover-content * {
	border-radius: var(--border-radius);
}

.bp5-menu {
	display: flex;
	flex-direction: column;
	gap: 3px;
	& > .bp5-overlay {
		margin: -1.5px auto;
	}
	& > .bp5-menu-divider {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.bp5-submenu-icon {
		margin-top: 0;
	}
}

:is(.bp5-dark, *)
	.bp5-submenu
	.bp5-popover-target.bp5-popover-open
	> .bp5-menu-item:not([class*="bp5-intent-"]) {
	&,
	.bp5-menu-item-icon,
	.bp5-submenu-icon {
		color: white;
		background-color: var(--primary-bg);
	}
}
:is(.bp5-dark, *) .bp5-menu-item {
	align-items: center;
	.bp5-menu-item-label {
		display: flex;
	}
	.bp5-menu-item-icon {
		color: inherit;
	}
	&.bp5-active,
	&.bp5-intent-primary:hover,
	&:hover {
		&,
		.bp5-menu-item-icon,
		.bp5-submenu-icon {
			color: white;
			background-color: var(--primary-bg);
		}
	}

	&.bp5-intent-danger {
		color: var(--danger);
		&.bp5-active,
		&:hover {
			&,
			.bp5-menu-item-icon {
				color: white;
				background-color: var(--danger);
			}
		}
		.bp5-spinner.bp5-intent-danger {
			.bp5-spinner-head {
				stroke: currentColor;
				stroke-width: 13;
			}
			.bp5-spinner-track {
				stroke: none;
			}
		}
		&.bp5-active {
			&,
			.bp5-menu-item-icon {
				background-color: color-mix(in srgb, var(--danger), black 15%);
			}
		}
	}
}
.bp5-menu-item.bp5-intent-primary {
	color: var(--primary);
}
.bp5-dark .bp5-menu-item.bp5-intent-primary {
	color: var(--dark-primary);
}

/* item list */

:is(*, .bp5-dark) .bp5-card-list.bp5-compact {
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 0.25rem;
	padding-bottom: 0.5rem;
	& > .bp5-card {
		width: 95%;
		margin-top: 0.25rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0.25rem 0.5rem;
		border-radius: var(--border-radius);
		user-select: none;
		&:not(:last-child) {
			border-bottom: 0;
		}
		&.bp5-selected,
		&.bp5-selected:hover {
			color: white;
			background-color: var(--primary-bg);
		}
	}
}

.bp5-card-list > .bp5-card.bp5-interactive:not(.bp5-selected) {
	&:hover {
		background-color: var(--light-bg-hover);
	}
	svg {
		fill: var(--primary);
	}
}
.bp5-dark .bp5-card-list > .bp5-card.bp5-interactive:not(.bp5-selected) {
	&:hover {
		background-color: var(--dark-bg-hover);
	}
	svg {
		fill: var(--primary-bg);
	}
}

/* dialog */

.bp5-dialog-header svg {
	padding-left: 1px;
}

.bp5-dialog-body {
	.bp5-input {
		&,
		&:hover {
			transition: none;
			box-shadow: 0 0 0 1px rgb(from currentColor r g b / 20%);
		}
		&:focus {
			box-shadow: 0 0 0 1px var(--primary-bg);
		}
	}
	.bp5-html-select select {
		&,
		&:hover {
			box-shadow: 0 0 0 1px rgb(from currentColor r g b / 20%);
		}
		&:active,
		&:focus {
			box-shadow: 0 0 0 1px var(--primary-bg);
		}
	}
	.bp5-section.bp5-compact .bp5-section-header {
		min-height: 35px;
		padding: 0 10px;
		&:hover {
			background-color: inherit;
		}
	}
	.bp5-control input:checked ~ .bp5-control-indicator {
		background-color: var(--primary-bg);
	}
	.bp5-button.bp5-intent-primary {
		--brighter: rgb(from var(--primary) r g b / 65%);
		& {
			color: var(--primary);
			border-color: var(--brighter);
		}
		&:hover {
			color: var(--primary);
			border-color: var(--brighter);
			background-color: rgb(from var(--primary) r g b / 15%);
		}
		&:active {
			--darker: color-mix(in srgb, var(--primary), black 5%);
			color: var(--darker);
			border-color: var(--brighter);
			background-color: rgb(from var(--primary) r g b / 25%);
		}
	}
}
.bp5-dialog-body .bp5-html-select select {
	background-color: white;
}
.bp5-dark .bp5-dialog-body .bp5-html-select select {
	background-color: var(--dark-bg);
}

:is(*, .bp5-dark) .bp5-dialog-footer {
	padding: 10px 15px;
	.bp5-dialog-footer-main-section {
		display: none;
	}
	.bp5-dialog-footer-actions {
		flex-grow: 1;
		.bp5-button {
			margin-left: 0;
		}
	}
}

/* alert */

.bp5-alert-contents {
	overflow: auto;
}

/* content */

.content {
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.17rem;
	}
	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	img,
	video {
		max-width: 100%;
		height: auto;
	}

	pre {
		overflow-x: auto;
		max-width: 100%;
	}

	/* added by sanitizer */
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
