.content {
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.17rem;
	}
	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	img + br + br {
		display: none;
	}

	img,
	video {
		max-width: 100%;
		height: auto;
	}

	pre {
		overflow-x: auto;
		max-width: 100%;
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
