:root {
	--border-radius: 0.25rem;

	--primary: #0056b3;
	--primary-bg: #0080d4;
	--dark-primary: color-mix(in srgb, var(--primary-bg), white 25%);

	--danger: #dc3545;

	--light-bg-hover: #f0f0f0;

	--dark-bg: var(--dark-gray2);
	--dark-bg-hover: rgb(from var(--gray1) r g b / 30%);
}

/* global */

html {
	font-size: 15px;
}

body {
	margin: 0;
}

textarea {
	font-family: inherit;
	resize: none !important;
}

path.bp5-spinner-track {
	stroke: none !important;
}

:not(.bp5-popover-arrow) > svg {
	width: 16px;
	height: 16px;
}
:is(.bp5-menu-item-icon, .bp5-menu-item-label) svg {
	width: 14px;
	height: 14px;
}

:is(pre, code) {
	font-family: SFMono-Regular, Menlo, Consolas, monospace !important;
}

.bp5-divider {
	margin: 0;
}

.bp5-button.bp5-intent-primary:not(.filter, a) {
	background-color: var(--primary-bg) !important;
	box-shadow: none !important;
	&:active {
		background-color: color-mix(in srgb, var(--primary-bg), black 15%) !important;
	}
	&:disabled {
		background-color: rgb(from var(--primary-bg) r g b / 50%) !important;
	}
}

a.bp5-button {
	color: var(--primary) !important;
	border-color: rgb(from var(--primary-bg) r g b / 95%) !important;
	&:hover {
		background-color: rgb(from var(--primary-bg) r g b / 10%) !important;
	}
	&:active {
		background-color: rgb(from var(--primary-bg) r g b / 15%) !important;
	}
}
.bp5-dark a.bp5-button {
	color: var(--dark-primary) !important;
	border-color: rgb(from var(--dark-primary) r g b / 95%) !important;
	&:hover {
		background-color: rgb(from var(--dark-primary) r g b / 10%) !important;
	}
	&:active {
		background-color: rgb(from var(--dark-primary) r g b / 15%) !important;
	}
}

.bp5-input,
.bp5-input:focus {
	box-shadow: none !important;
}

.bp5-tooltip.bp5-intent-primary {
	.bp5-popover-content {
		background-color: var(--primary-bg);
	}
	.bp5-popover-arrow-fill {
		fill: var(--primary-bg);
	}
}

/* container */
html,
body,
#root,
#root > .bp5-card {
	height: 100%;
}

/* top bar */
.topbar {
	display: flex;
	align-items: center;
	min-height: 2.3rem;
	margin: 0 0.3rem;
	.bp5-button {
		min-height: 0;
		min-width: auto;
		border-radius: var(--border-radius);
		&:not(:disabled):is(:hover, .bp5-active) {
			background-color: var(--light-bg-hover);
		}
	}
	.bp5-button.filter {
		&:hover {
			background-color: var(--light-bg-hover) !important;
		}
		&.bp5-active {
			color: white !important;
			background-color: var(--primary-bg) !important;
		}
	}
	/* item list search bar */
	.bp5-input[type="search"] {
		&::-webkit-search-cancel-button {
			display: none;
		}
		&:is(:hover, :focus) {
			background-color: var(--light-bg-hover);
		}
	}
}
.bp5-dark .topbar {
	.bp5-button {
		&:not(:disabled):not(.bp5-intent-primary.bp5-active, a):is(:hover, .bp5-active) {
			background-color: var(--dark-bg-hover) !important;
		}
		&.bp5-intent-primary.filter:not(.bp5-active) {
			--brighter: color-mix(in srgb, var(--primary-bg), white 25%);
			color: var(--brighter);
			border-color: var(--brighter);
		}
	}
	/* item list search bar */
	.bp5-input[type="search"] {
		background-color: var(--dark-bg);
		&:is(:hover, :focus) {
			background-color: var(--dark-bg-hover);
		}
	}
}

/* feed list */
.bp5-tree {
	flex-grow: 1;
	overflow: auto;
	.bp5-tree-root {
		padding: 0.5rem;
		padding-top: 0.25rem;
		.bp5-tree-node {
			margin-top: 0.25rem;
			&.bp5-tree-node-expanded .bp5-collapse {
				height: auto !important;
			}
			&:not(.bp5-tree-node-expanded) .bp5-collapse {
				height: 0 !important;
			}
			.bp5-collapse {
				transition: none;
			}
			.bp5-tree-node-content {
				padding-left: 0;
				height: 2.1rem;
				border-radius: var(--border-radius);
				user-select: none;
				&:hover {
					cursor: pointer;
				}
				.bp5-tree-node-caret {
					transition: none;
					&.bp5-tree-node-caret-closed {
						svg {
							padding-left: 1px;
							padding-right: 1px;
						}
					}
					&.bp5-tree-node-caret-open {
						svg {
							padding-left: 2px;
						}
					}
				}
				.bp5-tree-node-label span {
					display: inherit;
				}
			}
			&.bp5-tree-node-selected > .bp5-tree-node-content {
				&,
				&:hover {
					background-color: var(--primary-bg);
				}
			}
		}
	}
}
.bp5-tree-node:not(.bp5-tree-node-selected) {
	.bp5-tree-node-caret {
		color: #374049;
	}
	& > .bp5-tree-node-content:is(:hover, :active) {
		background-color: var(--light-bg-hover);
	}
}
.bp5-dark .bp5-tree-node:not(.bp5-tree-node-selected) {
	.bp5-tree-node-caret {
		color: #d1d1d1 !important;
	}
	& > .bp5-tree-node-content:is(:hover, :active) {
		background-color: var(--dark-bg-hover);
	}
}

/* context menu */
*:has(.bp5-popover-content),
.bp5-popover-content,
.bp5-popover-content * {
	border-radius: var(--border-radius) !important;
}
.bp5-popover {
	.bp5-popover-arrow {
		display: inherit !important;
	}

	.bp5-button {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}

	.bp5-menu {
		display: flex;
		flex-direction: column;
		gap: 3px;
		& > .bp5-overlay {
			margin: -1.5px auto;
		}
		.bp5-menu-divider {
			margin-top: 2px;
			margin-bottom: 2px;
		}

		.bp5-menu-item {
			align-items: center;
			.bp5-menu-item-label {
				display: flex;
			}

			.bp5-menu-item-icon {
				color: currentColor;
			}
			.bp5-submenu-icon {
				margin-top: 0;
			}
			&:is(:hover, .bp5-active):not(.bp5-disabled) {
				&,
				.bp5-menu-item-icon,
				.bp5-submenu-icon {
					color: white !important;
					background-color: var(--primary-bg) !important;
				}
			}

			&.bp5-intent-danger {
				color: var(--danger);
				&:not(.bp5-disabled) {
					&:hover {
						&,
						.bp5-menu-item-icon {
							background-color: var(--danger) !important;
						}
					}
					&.bp5-active {
						&,
						.bp5-menu-item-icon {
							background-color: color-mix(in srgb, var(--danger), black 15%) !important;
						}
					}
				}
				.bp5-spinner-head {
					stroke: currentColor;
					stroke-width: 13;
				}
			}
		}
	}
}
.bp5-menu-item.bp5-intent-primary {
	color: var(--primary);
}
.bp5-dark .bp5-menu-item.bp5-intent-primary {
	color: var(--dark-primary);
}

/* item list */
.bp5-card-list {
	padding: 0 !important;
	padding-top: 0.25rem !important;
	padding-bottom: 0.5rem !important;
	& > .bp5-card {
		width: 95%;
		margin-top: 0.25rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0.25rem 0.5rem !important;
		border-bottom: 0 !important;
		border-radius: var(--border-radius);
		user-select: none;
		&.bp5-selected,
		&.bp5-selected:hover {
			color: white;
			background-color: var(--primary-bg) !important;
		}
		svg {
			fill: currentColor;
			display: flex;
			width: 100%;
		}
	}
}
.bp5-card-list > .bp5-card:not(.bp5-selected) {
	&:hover {
		background-color: var(--light-bg-hover);
	}
	svg {
		color: var(--primary);
	}
}
.bp5-dark .bp5-card-list > .bp5-card:not(.bp5-selected) {
	&:hover {
		background-color: var(--dark-bg-hover);
	}
	svg {
		color: var(--primary-bg);
	}
}

/* dialog */
.bp5-dialog {
	.bp5-dialog-header .bp5-button:is(:hover, :active) {
		background-color: inherit;
		.bp5-icon {
			color: rgb(from currentColor r g b / 80%);
		}
	}

	.bp5-dialog-body {
		--shadow: 0 0 0 1px rgb(from currentColor r g b / 20%);
		:is(.bp5-input, select) {
			&,
			&:hover {
				transition: none;
				box-shadow: var(--shadow) !important;
			}
			&:is(:active, :focus) {
				box-shadow: 0 0 0 1px var(--primary-bg) !important;
			}
		}
		.bp5-label {
			user-select: none;
		}
		.bp5-input,
		select,
		.bp5-section,
		.bp5-button {
			border-radius: var(--border-radius);
		}
		.bp5-section-header {
			user-select: none;
			min-height: 0;
			padding: 0 10px;
		}
	}

	.bp5-dialog-footer {
		padding: 10px 15px;
		.bp5-dialog-footer-main-section {
			display: none;
		}
		.bp5-dialog-footer-actions {
			flex-grow: 1;
			.bp5-button {
				border-radius: var(--border-radius);
				margin-left: 0;
			}
		}
	}
}
.bp5-dialog-body select {
	background-color: white !important;
}
.bp5-dark .bp5-dialog-body select {
	background-color: var(--dark-bg) !important;
}

/* toast */
.bp5-toast.bp5-intent-danger {
	margin-top: 15px;
	border-radius: var(--border-radius);
	align-items: center;
	box-shadow: 0 1px 4px rgb(from var(--black) r g b / 20%), 0 2px 16px rgb(from var(--black) r g b / 20%);
	.bp5-button:last-child {
		min-height: auto;
		.bp5-icon-cross {
			color: rgb(from currentColor r g b / 87%) !important;
		}
		&:is(:hover, :active) {
			.bp5-icon-cross {
				color: rgb(from currentColor r g b / 96%) !important;
			}
			background-color: inherit !important;
		}
		svg {
			margin-left: 10px;
		}
	}
	& > svg {
		margin-left: 10px;
		color: rgb(from currentColor r g b / 90%) !important;
	}
	.bp5-toast-message {
		padding: 9px;
	}
}

/* content */
.content {
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.17rem;
	}
	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	img,
	video {
		max-width: 100%;
		height: auto;
	}

	pre {
		overflow-x: auto;
		max-width: 100%;
	}

	/* added by sanitizer */
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
