html {
	font-size: 15px;
}

body {
	margin: 0;
}

:root {
	--border-radius: 0.25rem;
}

.bp5-divider {
	margin: 0;
}

.bp5-button {
	border-radius: var(--border-radius);
}

.bp5-button-group.bp5-outlined .bp5-button.bp5-intent-primary {
	&:hover {
		background-color: rgb(from var(--gray3) r g b / 15%);
	}

	&:active {
		background-color: rgb(from var(--gray3) r g b / 30%);
	}

	&.bp5-active {
		color: var(--white);
		background-color: var(--blue3);
	}
}

.bp5-tree {
	flex-grow: 1;
	overflow: auto;
}

.bp5-tree-root {
	padding: 0.5rem;
	padding-top: 0.25rem;
}

.bp5-tree-node {
	margin-top: 0.25rem;
}

.bp5-tree-node-content {
	padding-left: 0;
	border-radius: var(--border-radius);
	height: 2.1rem;

	&:hover {
		cursor: pointer;
	}

	* {
		user-select: none;
	}
}

.bp5-tree-node-label span {
	display: inherit;
}

.bp5-menu-item {
	align-items: center;
}

.bp5-menu-item-label {
	display: flex;
}

.bp5-card-list.bp5-compact {
	padding-top: 0.25rem;
	padding-bottom: 0.5rem;

	& > .bp5-card {
		width: 95%;
		margin-top: 0.25rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0.25rem 0.5rem;
		border-radius: var(--border-radius);
		user-select: none;

		&:not(:last-child) {
			border-bottom: 0;
		}

		&.bp5-interactive:hover {
			background-color: var(--light-gray4);
		}

		&.bp5-selected,
		&.bp5-selected:hover {
			color: var(--white);
			background-color: var(--blue3);
		}
	}
}

.bp5-html-select select {
	width: auto;
}

.bp5-alert-contents {
	overflow: auto;
}

.content {
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.17rem;
	}
	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	img + br + br {
		display: none;
	}

	img,
	video {
		max-width: 100%;
		height: auto;
	}

	pre {
		overflow-x: auto;
		max-width: 100%;
	}

	/* added by sanitizer */
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
