:root {
	--border-radius: 0.25rem;
	--monospace: SFMono-Regular, Menlo, Consolas, monospace;

	--primary: #0056b3;
	--primary-bg: #0080d4;
	--dark-primary: color-mix(in srgb, var(--primary-bg), white 25%);

	--danger: #dc3545;

	--light-bg-hover: #f0f0f0;
	--dark-bg: var(--dark-gray2);
	--dark-bg-hover: rgb(from var(--gray1) r g b / 30%);
}

/* global */

html {
	font-size: 15px;
	color-scheme: light;
}

body {
	margin: 0;
}

textarea {
	font-family: inherit;
	resize: none !important;
}

path.bp6-spinner-track {
	stroke: none !important;
}

:not(.bp6-popover-arrow, .loading-items > div) > svg {
	width: 16px;
	height: 16px;
}
.bp6-spinner-head {
	stroke: currentColor !important;
	stroke-width: 8px;
}
.loading-items svg {
	opacity: 0.7;
	width: 19px;
	height: 19px;
	.bp6-spinner-head {
		stroke-width: 10px;
	}
}

:is(pre, code) {
	font-family: var(--monospace) !important;
}

.bp6-button.bp6-intent-primary:not(.filter, a) {
	background-color: var(--primary-bg) !important;
	box-shadow: none !important;
	&:active {
		background-color: color-mix(in srgb, var(--primary-bg), black 15%) !important;
	}
	&:disabled {
		background-color: rgb(from var(--primary-bg) r g b / 50%) !important;
	}
}

a.bp6-button {
	color: light-dark(var(--primary), var(--dark-primary)) !important;
	--bg: light-dark(var(--primary-bg), var(--dark-primary));
	border-color: rgb(from var(--bg) r g b / 95%) !important;
	&:hover {
		background-color: rgb(from var(--bg) r g b / 10%) !important;
	}
	&:active {
		background-color: rgb(from var(--bg) r g b / 15%) !important;
	}
}

.bp6-input,
.bp6-input:focus {
	box-shadow: none !important;
}

.bp6-tooltip.bp6-intent-primary {
	.bp6-popover-content {
		background-color: var(--primary-bg);
	}
	.bp6-popover-arrow-fill {
		fill: var(--primary-bg);
	}
}

/* top bar */
.topbar {
	display: flex;
	align-items: center;
	min-height: 2.3rem;
	margin: 0 0.5rem;
	.bp6-button {
		min-height: 0;
		min-width: auto;
		border-radius: var(--border-radius);
		&:not(:disabled, a):is(:hover, .bp6-active) {
			background-color: var(--light-bg-hover) !important;
		}
		&.filter.bp6-active {
			color: white !important;
			background-color: var(--primary-bg) !important;
		}
	}
	/* item list search bar */
	.bp6-input[type="search"] {
		&::-webkit-search-cancel-button {
			display: none;
		}
		&:is(:hover, :focus) {
			background-color: light-dark(var(--light-bg-hover), var(--dark-bg-hover)) !important;
		}
	}
}
.bp6-dark .topbar {
	.bp6-button {
		&:not(:disabled):not(.bp6-intent-primary.bp6-active, a):is(:hover, .bp6-active) {
			background-color: var(--dark-bg-hover) !important;
		}
		&.bp6-intent-primary.filter:not(.bp6-active) {
			--brighter: color-mix(in srgb, var(--primary-bg), white 25%);
			color: var(--brighter);
			border-color: var(--brighter);
		}
	}
	/* item list search bar */
	.bp6-input[type="search"] {
		background-color: var(--dark-bg);
	}
}

/* feed list */
.bp6-tree {
	flex-grow: 1;
	overflow: auto;
	.bp6-tree-root {
		padding: 0.5rem;
		padding-top: 0.25rem;
		.bp6-tree-node {
			margin-top: 0.25rem;
			&.bp6-tree-node-expanded .bp6-collapse {
				height: auto !important;
			}
			&:not(.bp6-tree-node-expanded) .bp6-collapse {
				height: 0 !important;
			}
			&:not(.bp6-tree-node-selected) {
				.bp6-tree-node-caret {
					color: light-dark(#374049, #d1d1d1);
				}
				& > .bp6-tree-node-content:is(:hover, :active) {
					background-color: light-dark(var(--light-bg-hover), var(--dark-bg-hover));
				}
			}
			.bp6-collapse {
				transition: none;
			}
			.bp6-tree-node-content {
				padding-left: 0;
				height: 2.1rem;
				border-radius: var(--border-radius);
				user-select: none;
				&:hover {
					cursor: pointer;
				}
				.bp6-tree-node-caret {
					transition: none;
					&.bp6-tree-node-caret-closed {
						svg {
							padding-left: 1px;
							padding-right: 1px;
						}
					}
					&.bp6-tree-node-caret-open {
						svg {
							padding-left: 2px;
						}
					}
				}
				.bp6-tree-node-caret-none {
					min-width: 32px;
				}
				.bp6-tree-node-label span {
					display: inherit;
				}
			}
			&.bp6-tree-node-selected > .bp6-tree-node-content {
				&,
				&:hover {
					background-color: var(--primary-bg);
				}
			}
		}
	}
}

/* context menu */
*:has(.bp6-popover-content),
.bp6-popover-content,
.bp6-popover-content * {
	border-radius: var(--border-radius) !important;
}
.bp6-popover {
	transform: none;

	.bp6-popover-arrow {
		display: inherit !important;
	}

	.bp6-button {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}

	.bp6-menu {
		max-height: 90vh;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 3px;
		& > .bp6-overlay {
			margin: -1.5px auto;
		}
		.bp6-menu-divider {
			margin-top: 2px;
			margin-bottom: 2px;
		}
		.bp6-menu-header {
			color: light-dark(var(--gray1), var(--gray4));
			user-select: none;
			.bp6-heading {
				font-weight: inherit;
			}
		}

		.bp6-menu-item {
			align-items: center;
			.bp6-menu-item-label {
				display: flex;
			}
			svg {
				stroke-width: 1.6px;
				width: 15px;
				height: 15px;
			}

			.bp6-menu-item-icon {
				color: currentColor;
			}
			&:is(:hover, .bp6-active):not(.bp6-disabled) {
				&,
				.bp6-menu-item-icon {
					color: white !important;
					background-color: var(--primary-bg) !important;
				}
			}

			&.bp6-intent-primary {
				color: light-dark(var(--primary), var(--dark-primary));
			}
			&.bp6-intent-danger {
				color: var(--danger);
				&:not(.bp6-disabled) {
					&:hover {
						&,
						.bp6-menu-item-icon {
							background-color: var(--danger) !important;
						}
					}
					&.bp6-active {
						&,
						.bp6-menu-item-icon {
							background-color: color-mix(in srgb, var(--danger), black 15%) !important;
						}
					}
				}
			}
		}
	}
}

/* item list */
.bp6-card-list {
	padding: 0 !important;
	padding-top: 0.25rem !important;
	padding-bottom: 0.5rem !important;
	& > .bp6-card {
		margin-top: 0.25rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 0.25rem 0.5rem !important;
		border-bottom: 0 !important;
		border-radius: var(--border-radius);
		user-select: none;
		&:not(.bp6-selected) {
			&:hover {
				background-color: light-dark(var(--light-bg-hover), var(--dark-bg-hover)) !important;
			}
			svg {
				color: light-dark(var(--primary), var(--dark-primary));
			}
		}
		&.bp6-selected,
		&.bp6-selected:hover {
			color: white;
			background-color: var(--primary-bg) !important;
		}
		svg {
			fill: currentColor;
			display: flex;
			width: 100%;
		}
	}
}
.bp6-dark .bp6-card-list {
	width: initial !important;
	margin: initial !important;
}

/* dialog */
.bp6-dialog {
	.bp6-dialog-header .bp6-button:is(:hover, :active) {
		background-color: inherit;
		.bp6-icon {
			color: rgb(from currentColor r g b / 80%);
		}
	}

	.bp6-dialog-body {
		--shadow: 0 0 0 1px rgb(from currentColor r g b / 20%);
		:is(.bp6-input, select) {
			&,
			&:hover {
				transition: none;
				box-shadow: var(--shadow) !important;
			}
			&:is(:active, :focus) {
				box-shadow: 0 0 0 1px var(--primary-bg) !important;
			}
		}
		.bp6-label {
			user-select: none;
		}
		select {
			background-color: light-dark(white, var(--dark-bg));
		}
		.bp6-input,
		select,
		.bp6-section,
		.bp6-button {
			border-radius: var(--border-radius);
		}
		.bp6-section-header {
			user-select: none;
			min-height: 0;
			padding: 0 8px;
		}
	}

	.bp6-dialog-footer {
		padding: 10px 15px;
		.bp6-dialog-footer-main-section {
			display: none;
		}
		.bp6-dialog-footer-actions {
			flex-grow: 1;
			.bp6-button {
				border-radius: var(--border-radius);
				margin-left: 0;
			}
		}
	}
}

/* toast */
.bp6-toast.bp6-intent-danger {
	border-radius: var(--border-radius);
	align-items: center;
	box-shadow:
		0 1px 4px rgb(from var(--black) r g b / 20%),
		0 2px 16px rgb(from var(--black) r g b / 20%);
	.bp6-button:last-child {
		min-height: auto;
		min-width: 0;
		padding: 0;
		margin: 5px;
		.bp6-icon-cross {
			margin: 0;
			color: rgb(from currentColor r g b / 87%) !important;
		}
		&:is(:hover, :active) {
			.bp6-icon-cross {
				color: rgb(from currentColor r g b / 96%) !important;
			}
			background-color: inherit !important;
		}
	}
	.bp6-toast-message {
		padding: 9px 11px;
	}
}

/* content */
.content {
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.17rem;
	}
	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	img,
	video {
		max-width: 100%;
		height: auto;
	}

	pre {
		overflow-x: auto;
	}

	a code {
		text-decoration: underline;
	}

	/* added by sanitizer */
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

#feed-list,
#item-list,
#item {
	display: flex;
	flex-direction: column;
}
#feed-list,
#item-list {
	min-width: 300px;
	max-width: 300px;
}
#item {
	flex-grow: 1;
	overflow: auto;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#feed-list {
		width: 35%;
	}
	#item-list {
		width: 65%;
	}
	#item-divider,
	#item {
		display: none;
	}

	.item-selected {
		#feed-list,
		#list-divider,
		#item-list,
		#item-divider {
			display: none;
		}
		#item {
			display: flex;
		}
	}
}

@media (max-width: 767.98px) {
	#show-feeds {
		display: inline-flex !important;
	}
	#feed-list,
	#item-list,
	#item {
		width: 100%;
	}
	#list-divider,
	#item-list,
	#item-divider,
	#item {
		display: none;
	}

	.feed-selected {
		#feed-list {
			display: none;
		}
		#item-list {
			display: flex;
		}
	}
	.item-selected {
		#feed-list,
		#item-list {
			display: none;
		}
		#item {
			display: flex;
		}
	}
}

@media (max-width: 991.98px) {
	#feed-list,
	#item-list {
		min-width: unset;
		max-width: unset;
	}
	.topbar {
		min-height: 3rem;
		.bp6-button {
			min-height: 2rem;
		}
		.bp6-input {
			font-size: 1rem;
			height: 2.7rem;
		}
	}
}
